		<h1>content</h1>	
        <table border="1" style="width:100%">
	        <tr>
	        	<td>ID</td>
	        	<td><input type="text" id="userId" name="userId"/></td>
	        </tr>
	        <tr>
	        	<td>휴대폰</td>	
	        	<td><input type="text" id="mobileNo" name="mobileNo"/></td>
	        </tr>
	        <tr>	
	        	<td>주소</td>
	        	<td><input type="text" id="addr" name="addr"/></td>
	        </tr>
        </table>
        <br />
        <a th:onclick="custUserProc('A');">저장하기</a>